@property --complete {
  initial-value: 0;
  inherits: true;
  syntax: '<number>';
}

.atc {
  user-select: none;
  -webkit-tap-highlight-color: #0000;
  position: relative;
  border-radius: 100px;
  color: color-mix(in hsl, canvasText, canvas 10%);
  font-weight: 300;
  font-size: 0.875rem;
  padding: 0;
  border: 0;
  border: 2px solid color-mix(in hsl, canvasText, canvas 90%);
  cursor: pointer;
  background: light-dark(#fff, #000);
  transition-property: translate, scale;
  transition-duration: 0.16s;
  transition-timing-function: ease-out;
}

.atc:active:not([data-adding='true']) {
  translate: 0 1px;
  scale: 0.99;
}

.atcContent {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 0.375rem;
  padding: 0.5rem 0.875rem;
  padding-right: 1rem;
  border-radius: inherit;
  position: relative;
  z-index: 2;
}

.atcContent::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: light-dark(#fff, #000);
  opacity: 1;
  z-index: -1;
  transition: opacity 0.26s ease-out;
}

.atcCart,
.atcCartDummy,
.atcCheck {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.atcCheck,
.atcCartDummy {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  translate: -50% -50%;
}

.atcCartContent {
  fill: hsl(140 90% 50%);
}

.atcCheck {
  stroke: hsl(140 90% 50%);
}

.atcIcon {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}

.atcText {
  font-size: 0.875rem;
}

.atcBorder {
  position: absolute;
  inset: -2px;
  container-type: inline-size;
  border: 2px solid transparent;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
  border-radius: inherit;
}

.atcBorderStatic {
  opacity: 0;
  border-color: canvasText;
}

.atcBorderComplete {
  border-color: hsl(140 90% 50%);
  opacity: 0;
}

.atcBorderAnimated::after {
  content: '';
  width: calc(100cqi + 4px);
  height: calc(100cqi + 4px);
  background: conic-gradient(
    from calc(var(--complete, 0) * 180deg) in hsl increasing hue,
    #0000 0 calc((1 - var(--complete)) * 20%),
    hsl(0 100% 65%) calc((1 - var(--complete)) * 30%),
    hsl(339 100% 65%) calc(100% - ((1 - var(--complete)) * 30%)),
    #0000 calc(100% - ((1 - var(--complete)) * 20%)) 100%
  );
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  animation: spin 2s infinite linear;
  transition: --complete 0.22s ease-out;
}

[data-complete='true'] .atcBorderAnimated::after {
  --complete: 1;
}

.atcCart {
  transform-origin: 0 100%;
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}

