/* Base */
.button_background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50%;
  left: 0;
  z-index: -1;
  opacity: 0.2;
  filter: none !important;
  transition-duration: inherit;
  transition-property: opacity;
  box-shadow: 0 0 20px 5px rgba(255, 215, 0, 0.6), 
              0 0 40px 10px rgba(255, 215, 0, 0.4),
              inset 0 0 20px rgba(255, 215, 0, 0.3);
}

/* Rounded */
.button_background__rounded_base {
  border-radius: 7px;
}

@supports (corner-shape: squircle) {
  .button_background__rounded_base {
    border-radius: 9999px;
    corner-shape: squircle;
  }
}

.button_background__rounded_full {
  border-radius: 9999px;
}

/* Variant */
.button_background__variant_accent,
.button_background__variant_primary {
  background: linear-gradient(
    to bottom,
    var(--color-white-a6, rgba(0, 0, 0, 0.4)),
    var(--color-white-a5, rgba(0, 0, 0, 0.3))
  );
}

.button_background__variant_secondary {
  background: linear-gradient(
    to bottom,
    var(--color-black-a2, rgba(0, 0, 0, 0.4)),
    var(--color-black-a3, rgba(0, 0, 0, 0.3))
  );
}

