.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation: fadeOut 10s forwards;
}

@keyframes fadeOut {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.fireworks {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.firework {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: explode 1s ease-out forwards;
}

@keyframes explode {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(var(--tx), var(--ty)) scale(0);
    opacity: 0;
  }
}

.firework:nth-child(1) { --tx: 100px; --ty: -100px; background: #ff6b6b; animation-delay: 0s; }
.firework:nth-child(2) { --tx: 70px; --ty: -70px; background: #4ecdc4; animation-delay: 0.1s; }
.firework:nth-child(3) { --tx: 0px; --ty: -120px; background: #ffe66d; animation-delay: 0.05s; }
.firework:nth-child(4) { --tx: -70px; --ty: -70px; background: #ff6b6b; animation-delay: 0.15s; }
.firework:nth-child(5) { --tx: -100px; --ty: 0px; background: #95e1d3; animation-delay: 0.2s; }
.firework:nth-child(6) { --tx: -70px; --ty: 70px; background: #f38181; animation-delay: 0.1s; }
.firework:nth-child(7) { --tx: 0px; --ty: 120px; background: #aa96da; animation-delay: 0.05s; }
.firework:nth-child(8) { --tx: 70px; --ty: 70px; background: #fcbad3; animation-delay: 0.15s; }
.firework:nth-child(9) { --tx: 100px; --ty: 0px; background: #ffffd2; animation-delay: 0.2s; }
.firework:nth-child(10) { --tx: 85px; --ty: -50px; background: #ff9ff3; animation-delay: 0.05s; }
.firework:nth-child(11) { --tx: 50px; --ty: -90px; background: #54a0ff; animation-delay: 0.1s; }
.firework:nth-child(12) { --tx: -50px; --ty: -90px; background: #48dbfb; animation-delay: 0.15s; }
.firework:nth-child(13) { --tx: -85px; --ty: -50px; background: #00d2d3; animation-delay: 0.05s; }
.firework:nth-child(14) { --tx: -85px; --ty: 50px; background: #1dd1a1; animation-delay: 0.1s; }
.firework:nth-child(15) { --tx: -50px; --ty: 90px; background: #10ac84; animation-delay: 0.2s; }
.firework:nth-child(16) { --tx: 50px; --ty: 90px; background: #f368e0; animation-delay: 0.15s; }
.firework:nth-child(17) { --tx: 85px; --ty: 50px; background: #ff9ff3; animation-delay: 0.1s; }
.firework:nth-child(18) { --tx: 110px; --ty: -30px; background: #feca57; animation-delay: 0.05s; }

.fireworksContainer {
  position: absolute;
  animation: launch 1.5s ease-out infinite;
}

@keyframes launch {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

